<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="logos/plicon.png" type="images/x-icon" width="40" height="40">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"
    rel="stylesheet">
  <title>Deposit</title>
  <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
  <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


    .mpesa-wrapper article .close-mpesa {
      position: absolute;
      right: 0;
      top: 0;
      height: 40px;
      border-radius: 0 20px 0 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.2rem;
      width: 40px;
      background-color: green;

    }


    .formbox-mpesa {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      flex-grow: 1;
      position: relative;

    }


    .token-select {
      display: flex;
      align-items: center;
      justify-content: center;

    }
    #token-display {
      font-family: 'Signika', sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      color: limegreen;
    }



    .input-box {
      width: 95%;
      margin: 1.3rem auto;
      height: 40%;
      position: relative;

    }

    .input-box input {
      height: 25%;
      width: 90%;
      padding: 30px;
      outline: none;
      text-align: start;
      margin-bottom: 10px;
      border: 1px solid red;
      font-size: 1.85rem;
      font-weight: bold;
      font-family: 'Signika', sans-serif;
      border-radius: 20px;
      color: red;
    }
    .input-box input:focus {
        border: 2px solid red;
    }


     ::placeholder {
       font-family: 'Signika', sans-serif;
       font-weight: bold;
       font-size: 1.2rem;
       font-style: italic;
    }



    .mpesa-wrapper button {
      display: none;  
      width: 70%;
      height: 50px;
      margin: 0;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: limegreen;
      border-radius: 15px;
      margin-top: 20px;
      border: none;
      outline: none;
      color: white;
      border: 1px solid gold;
      font-size: 1.4rem;
      font-weight: bold;
      font-style: italic;
      font-family: 'Signika', sans-serif;
      cursor: pointer;
    }
  </style>
</head>

<body style="width: 100vw; background-color: white;">
  <header style="height: 10vh; width: 100%; display: flex; align-items: center; justify-content: space-between;">
    <a href="/main" style="text-decoration: none; margin-left: 5px; display: flex; align-items: center; justify-content: center;">
      <ion-icon name="arrow-round-back" style="font-weight: bold; color: purple; font-size: 2rem;"></ion-icon>
      <h1 style="text-decoration: none; margin-inline: 3px; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.75rem; color: purple;">Deposit</h1>
    </a>
    <span style="margin-right: 20px;"><img src="logos/plicon.png" alt="Paypal" width="40" height="40"></span>

  </header>



  <div class="error-box"
    style="width: 100vw; height: 8vh; display: flex; align-items: center; justify-content: center;">
    <% if (locals.messages) { %>
      <p style="color: red; background-color: #fff; text-align: center; border-radius: 4px; font-size: 1.3rem; width: 90%;
         font-weight: bold; font-family: 'Signika', sans-serif;">
        <%= messages %>
      </p>
      <% } %>

  </div>

  <main style="height: 72vh; width: 100vw; background-color: transparent; transition: all 1.5s ease-in-out;">

    <div class="choose"
      style="height: 10vh; width: 100vw; display: flex; align-items: center; justify-content: center; background-color: #fff;">

      <h1
        style="color: blue; font-family: 'Signika', sans-serif; font-weight: bold; font-size: 1.8rem; text-align: center; text-wrap: wrap;">
        Choose Amount </h1>

    </div>

    <section class="choose-amount"
      style="width: 100vw; padding: 10px; background-color: transparent; display: flex; flex-wrap: wrap; align-items: center; justify-content: center;">

      <button onclick="purchase(100)" class="amounts"
        style="cursor: pointer; height: 100px; width: 140px; display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; border: .5px solid purple; outline: none; margin: 8px; box-shadow: 0 4px 8px 0 rgba(65, 5, 65, 0.656), 0 5px 10px 0 rgba(65, 5, 65, 0.456); background-image: linear-gradient(45deg, grey, silver, whitesmoke, white, whitesmoke, silver,grey) ; border-radius: 15px;">
        <div class="amount-span" style="display: flex; align-items: center; justify-content: center;">
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px; margin-right: 5px;">
            KSH</h1>
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px;">
            100</h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: gold; transform: msFilter"><path d="M12 6C7.03 6 2 7.546 2 10.5v4C2 17.454 7.03 19 12 19s10-1.546 10-4.5v-4C22 7.546 16.97 6 12 6zm-8 8.5v-1.197a9.989 9.989 0 0 0 2 .86v1.881c-1.312-.514-2-1.126-2-1.544zm12 .148v1.971c-.867.179-1.867.31-3 .358v-2a21.75 21.75 0 0 0 3-.329zm-5 2.33a18.788 18.788 0 0 1-3-.358v-1.971c.959.174 1.972.287 3 .33v1.999zm7-.934v-1.881a9.931 9.931 0 0 0 2-.86V14.5c0 .418-.687 1.03-2 1.544zM12 13c-5.177 0-8-1.651-8-2.5S6.823 8 12 8s8 1.651 8 2.5-2.823 2.5-8 2.5z"></path></svg>
      </button>

      <button onclick="purchase(200)" class="amounts"
        style="cursor: pointer; height: 100px; width: 140px; display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; border: .5px solid purple; outline: none; margin: 8px; box-shadow: 0 4px 8px 0 rgba(65, 5, 65, 0.656), 0 5px 10px 0 rgba(65, 5, 65, 0.456); background-image: linear-gradient(45deg, grey, silver, whitesmoke, white, whitesmoke, silver,grey) ; border-radius: 15px;">
        <div class="amount-span" style="display: flex; align-items: center; justify-content: center;">
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px; margin-right: 5px;">
            KSH</h1>
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px;">
            200</h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: gold; transform: msFilter"><path d="M12 6C7.03 6 2 7.546 2 10.5v4C2 17.454 7.03 19 12 19s10-1.546 10-4.5v-4C22 7.546 16.97 6 12 6zm-8 8.5v-1.197a9.989 9.989 0 0 0 2 .86v1.881c-1.312-.514-2-1.126-2-1.544zm12 .148v1.971c-.867.179-1.867.31-3 .358v-2a21.75 21.75 0 0 0 3-.329zm-5 2.33a18.788 18.788 0 0 1-3-.358v-1.971c.959.174 1.972.287 3 .33v1.999zm7-.934v-1.881a9.931 9.931 0 0 0 2-.86V14.5c0 .418-.687 1.03-2 1.544zM12 13c-5.177 0-8-1.651-8-2.5S6.823 8 12 8s8 1.651 8 2.5-2.823 2.5-8 2.5z"></path></svg>
      </button>

      <button onclick="purchase(500)" class="amounts"
        style="cursor: pointer; height: 100px; width: 140px; display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; border: .5px solid purple; outline: none; margin: 8px; box-shadow: 0 4px 8px 0 rgba(65, 5, 65, 0.656), 0 5px 10px 0 rgba(65, 5, 65, 0.456); background-image: linear-gradient(45deg, grey, silver, whitesmoke, white, whitesmoke, silver,grey) ; border-radius: 15px;">
        <div class="amount-span" style="display: flex; align-items: center; justify-content: center;">
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px; margin-right: 5px;">
            KSH</h1>
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px;">
            500</h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: gold; transform: msFilter"><path d="M12 6C7.03 6 2 7.546 2 10.5v4C2 17.454 7.03 19 12 19s10-1.546 10-4.5v-4C22 7.546 16.97 6 12 6zm-8 8.5v-1.197a9.989 9.989 0 0 0 2 .86v1.881c-1.312-.514-2-1.126-2-1.544zm12 .148v1.971c-.867.179-1.867.31-3 .358v-2a21.75 21.75 0 0 0 3-.329zm-5 2.33a18.788 18.788 0 0 1-3-.358v-1.971c.959.174 1.972.287 3 .33v1.999zm7-.934v-1.881a9.931 9.931 0 0 0 2-.86V14.5c0 .418-.687 1.03-2 1.544zM12 13c-5.177 0-8-1.651-8-2.5S6.823 8 12 8s8 1.651 8 2.5-2.823 2.5-8 2.5z"></path></svg>
      </button>

      <button onclick="purchase(1000)" class="amounts"
        style="cursor: pointer; height: 100px; width: 140px; display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; border: .5px solid purple; outline: none; margin: 8px; box-shadow: 0 4px 8px 0 rgba(65, 5, 65, 0.656), 0 5px 10px 0 rgba(65, 5, 65, 0.456); background-image: linear-gradient(45deg, grey, silver, whitesmoke, white, whitesmoke, silver,grey) ; border-radius: 15px;">
        <div class="amount-span" style="display: flex; align-items: center; justify-content: center;">
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px; margin-right: 5px;">
            KSH</h1>
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px;">
            1000</h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: gold; transform: msFilter"><path d="M12 10c3.976 0 8-1.374 8-4s-4.024-4-8-4-8 1.374-8 4 4.024 4 8 4z"></path><path d="M4 10c0 2.626 4.024 4 8 4s8-1.374 8-4V8c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 14c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 18c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path></svg>
      </button>

      <button onclick="purchase(2000)" class="amounts"
        style="cursor: pointer; height: 100px; width: 140px; display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; border: .5px solid purple; outline: none; margin: 8px; box-shadow: 0 4px 8px 0 rgba(65, 5, 65, 0.656), 0 5px 10px 0 rgba(65, 5, 65, 0.456); background-image: linear-gradient(45deg, grey, silver, whitesmoke, white, whitesmoke, silver,grey) ; border-radius: 15px;">
        <div class="amount-span" style="display: flex; align-items: center; justify-content: center;">
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px; margin-right: 5px;">
            KSH</h1>
          <h1
            style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px;">
            2000</h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: gold;transform: msFilter"><path d="M12 10c3.976 0 8-1.374 8-4s-4.024-4-8-4-8 1.374-8 4 4.024 4 8 4z"></path><path d="M4 10c0 2.626 4.024 4 8 4s8-1.374 8-4V8c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 14c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 18c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path></svg>
      </button>
      
      <button onclick="purchase(5000)" class="amounts"
      style="cursor: pointer; height: 100px; width: 140px; display: flex; justify-content: center; align-items: center; flex-flow: column nowrap; border: .5px solid purple; outline: none; margin: 8px; box-shadow: 0 4px 8px 0 rgba(65, 5, 65, 0.656), 0 5px 10px 0 rgba(65, 5, 65, 0.456); background-image: linear-gradient(45deg, grey, silver, whitesmoke, white, whitesmoke, silver,grey) ; border-radius: 15px;">
      <div class="amount-span" style="display: flex; align-items: center; justify-content: center;">
        <h1
        style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px; margin-right: 5px;">
        KSH</h1>
        <h1
        style="font-size: 1.35rem; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-weight: bold; color: purple; margin-bottom: 5px;">
            5000</h1>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: gold;transform: msFilter"><path d="M12 10c3.976 0 8-1.374 8-4s-4.024-4-8-4-8 1.374-8 4 4.024 4 8 4z"></path><path d="M4 10c0 2.626 4.024 4 8 4s8-1.374 8-4V8c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 14c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 18c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path></svg>
      </button>


    </section>

  </main>

  <div class="paypal-section"
    style="display: none; overflow: hidden; position: absolute; width: 95vw; margin-top: 5px; border-radius: 20px; height: 40vh; top: 40%; left: 50%; transform: translate(-50%, -50%); z-index: 2; background-color: aliceblue; transition: all 1s ease-in-out;">
    <div class="paypal-container" style="position: relative; width: 100%; height: 50%; background-color: inherit;">
      <div class="close"
      style="width: 100%; height: 35%; display: flex; justify-content: space-between; padding-left: 10px;">
        <img src="/logos/paypal.png" alt="" width="120" height="40">
        <button id="close"
          style="height: 70%; width: 50px; display: flex; justify-content: center; align-items: center; outline: none; border: none; background-image: linear-gradient(135deg, blue, limegreen); border-radius: 0 20px 0 20px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
            style="fill: white;transform: msFilter">
            <path
            d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
            </path>
          </svg>
        </button>
      </div>
      <div id="paypal-button-container"
      style="height: 30%; width: 75%; position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); ">
      </div>
      <input type="number" id="amount" name="amount" style="display: none;">

    </div>
    
    <div class="mpesa-container"
    style="border: 1px solid limegreen; border-top: none; position: relative; width: 100%; height: 50%; border-radius: 0 0 20px 20px; background-image: linear-gradient(45deg, rgba(0, 255, 0, 0.3), white, white, rgba(0, 255, 0, 0.3));">

      <img src="/logos/mpesa.png" alt="" width="120" height="60" style="position: absolute; top: 0; left: 10px;">
      <button id="lipa-mpesa"
        style="display: flex; justify-content: center; align-items: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); outline: none; border: 1px solid gold; min-height: calc( min(25%, 150px)); min-width: calc( min(75%, 800px)); border-radius: 25px; background-color: limegreen;">
        <h2
          style="font-size: 1.3rem; font-family: 'Signika', sans-serif; font-weight: bold; color: white;">
          Lipa Na Mpesa</h2>
      </button>
      
      <img src="/logos/safaricom.png" alt="" width="120" height="60" style="position: absolute; bottom: 0; right: 5px;">


    </div>
    

  </div>
  
  <!-- MPESA CONTAINER FORM -->

  <% if (user.mpesa == 254) { %>

    <div class="mpesa-wrapper"
     style="position: absolute; display: none; flex-flow: column nowrap; z-index: 10; top: 35%; left: 50%; transform: translate(-50%, -50%); text-align: center; height: 350px; width: 300px; border-radius: 20px; background-color: antiquewhite;">
     
     <!-- CLOSE BTN -->
     <article>
       
       <div class="close-mpesa">
           <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
           style="fill: white;transform: msFilter">
           <path
           d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
         </path>
           </svg>
         </div>
         
         <img src="logos/mpesa.png" width="180" height="80" alt="Lipa na Mpesa">
         
       </article>
       
       <form action="/mpesa/stk" method="post" class="formbox-mpesa">
         
         <div class="token-select">
           
           <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: limegreen; transform: msFilter"><path d="M12 10c3.976 0 8-1.374 8-4s-4.024-4-8-4-8 1.374-8 4 4.024 4 8 4z"></path><path d="M4 10c0 2.626 4.024 4 8 4s8-1.374 8-4V8c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 14c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 18c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path></svg>
         
           <h3 id="token-display">KSH <span id="displayAmount"></span></h3>
         </div>
   
         <div class="input-box">
           <p
             style="margin-bottom: 8px; font-size: 1.2rem; font-weight: bold; font-family: 'Signika', sans-serif; color: purple;">
             Enter Mpesa Number.</p>
           <input id="mpesa-number" name="phone" type="number" placeholder="07 or 01...(10-digit-num)" onkeyup="validateNumber()" required>
   
           <span id="error-mpesa" style="display: none; color: red; margin-left: 8px; font-size: 1.25rem; font-weight: bold; font-family: 'Signika', sans-serif;">Invalid Mpesa Number</span>
         </div>
   
         <div class="input-amount" style="display: none;">
   
           <input id="mpesa-amount" name="mpesaAmount" type="number" required>
   
         </div>
   
         <button type="submit" class="submit">PAY</button>
   
   
       </form>
     </div>

  <% } else { %>

       
      <div class="mpesa-wrapper"
  style="position: absolute; display: none; flex-flow: column nowrap; z-index: 10; top: 35%; left: 50%; transform: translate(-50%, -50%); text-align: center; height: 350px; width: 300px; border-radius: 20px; background-color: antiquewhite;">
  
  <!-- CLOSE BTN -->
  <article>
    
    <div class="close-mpesa">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
        style="fill: white;transform: msFilter">
        <path
        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
      </path>
        </svg>
      </div>
      
      <img src="logos/mpesa.png" width="180" height="80" alt="Lipa na Mpesa">
      
    </article>
    
    <form action="/mpesa/stk" method="post" class="formbox-mpesa">
      
      <div class="token-select">
        
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" style="fill: limegreen; transform: msFilter"><path d="M12 10c3.976 0 8-1.374 8-4s-4.024-4-8-4-8 1.374-8 4 4.024 4 8 4z"></path><path d="M4 10c0 2.626 4.024 4 8 4s8-1.374 8-4V8c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 14c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path><path d="M4 18c0 2.626 4.024 4 8 4s8-1.374 8-4v-2c0 2.626-4.024 4-8 4s-8-1.374-8-4v2z"></path></svg>
      
        <h3 id="token-display">KSH <span id="displayAmount">100</span></h3>
      </div>

      <div class="input-box">
        <p style="margin-bottom: 8px; font-size: 1.2rem; font-weight: bold; font-family: 'Signika', sans-serif; color: purple;">
          An stk prompt will be pushed to...</p>
        <input name="phone" type="number" value="<%= userFormatNumber %>" placeholder="07 or 01...(10-digit-num)" required style="font-size: 1.85rem; color: grey; text-align: center; border: 2px solid limegreen; font-style: normal; font-family: 'Signika', sans-serif;" />

      </div>

      <div class="input-amount" style="display: none;">

        <input id="mpesa-amount" name="mpesaAmount" type="number" required>

      </div>

      <button type="submit" class="submit" style="display: block;">PAY</button>


    </form>
  </div>
       
  <% } %>







  <script src="paypal.js"></script>
  <script src="https://www.paypal.com/sdk/js?client-id=<%= CLIENT %>&components=buttons&disable-funding=credit,card"></script>

  <script>


  const inputElem = document.getElementById('amount')

    paypal.Buttons({
      style: {
        layout: 'vertical',
        color: 'blue',
        shape: 'pill',
        label: 'paypal'
      },
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: inputElem.value
              }
            }
          ]
        })
      },
      onApprove: function (data, actions) {
        return actions.order.capture().then((details) => {
          const paidValue = details.purchase_units[0].amount.value
          const email = details.payer.email_address
          return new Promise((resolve, reject) => {
            fetch('/confirm-deposit', {
              method: 'POST',
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify({
                valuePaid: paidValue,
                paypalEmail: email,
              })

            }).then((res) => {

              if (res.ok) {

                return res.json()

              } else {

                reject('Failed To Coonect')
              }
            })
              .then((data) => {


                resolve(data)

                window.location.href = `/confirm-deposit?ajaxvv2ppl=${data._id}&email=${data.pplEmail}`

              })

              .catch((err) => {

                reject('NETWORK ERROR!!')

              })

          })
        })
      },
      onCancel: function () {
        alert('You Canceled the Request')
        window.location.href = '/deposit'
      },
      onError: function () {
        alert('Server Error!! Please try Again')
        window.location.href = '/deposit'
      }
    }).render('#paypal-button-container')


  </script>
</body>

</html>