<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logos/plicon.png" type="images/x-icon" width="40" height="40">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Calistoga&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <title>Withdraw</title>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        ::placeholder {
            font-size: .95rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: bold;
            font-style: italic;
            color: red;
        }
    </style>

    
</head>
<body style="height: 100svh; background-image: linear-gradient(45deg, goldenrod, gold, whitesmoke, white, whitesmoke, white, gold, goldenrod);">
    <header style="height: 10svh; width: 100vw; border-bottom: 2px solid purple; display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center; justify-content: center;">
            <div><a href="/main"><ion-icon name="arrow-round-back" style="font-weight: bold; color: purple; font-size: 2rem;"></ion-icon></a></div>
            <h1 style="margin:0 10px 10px 10px; font-weight: bold; font-family: 'Signika', sans-serif; font-size: 1.75rem; color: purple;">Withdraw</h1>
        </div>
        <span style="margin-right: 20px;"><img src="logos/plicon.png" alt="Paypal" width="40" height="40"></span>
        
    </header>

     
    <div style="height: 8svh; width: 100vw; display: flex; align-items: center; justify-content: center;" class="current-bal">
       <p style="white-space: nowrap; margin-right: 10px; font-size: 1.1rem;">Current Balance</p>
       <h1 style="font-size: 1.2rem; white-space: nowrap;">KSH: <span style="color: green"> <%= user.totalBalance %> </span></h1>
    </div>
        <section style="position: relative; height: 82svh; width: 100vw; display: flex; flex-flow: column nowrap; align-items: center; justify-content: center;">
            
              <!-- ! TOGGLE BUTTONS  -->
              <div class="toggle" style="position: absolute; top: 0; width: 100%; height: 10%; display: flex; align-items: center; justify-content: space-evenly;">
                  <div class="mpesa" style="width: 20%; height: 70%; border-radius: 10px; background-color: green; color: white;
                  font-size: 1.1rem; font-family: 'Signika', sans-serif; font-weight: bold; display: grid; 
                   place-items: center;" >Mpesa</div>
                  <div class="paypal" style="width: 20%; height: 70%; border-radius: 10px; background-color: rgba(0, 0, 255, 0.695); color: white;
                  font-size: 1.1rem; font-family: 'Signika', sans-serif; font-weight: bold; display: grid;
                   place-items: center;" >Paypal</div>
                  
              </div>

            <!-- TODO:  UTILIZE THIS DIV TO SWITCH FROM BOTH FORMS -->

         <div style="position: relative; overflow: hidden; display: flex; justify-content: center; height: 40vh; width: min(450px, 90%);">
        
            <form action="/withdraw" method="post" id="paypal-form" style="position: absolute; left: 50%; transform: translateX(-50%); transition: all .75s ease-in-out; width: 70%; height: 100%; display: flex; flex-flow: column nowrap; justify-content: flex-start; align-items: center;">
                    <div class="descrip" style="width: 100%; height: 20%; display: grid; place-items: center;" >
                        
                       <img src="/logos/paypal.png" alt="PAYPAL" width="120" height="40">

                    </div>
                    <div style="height: 30%; width: 100%; margin-bottom: 10px; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;">
                        <label for="phone" style="font-style: italic; font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: green; font-size: 1.2rem; margin-bottom: 10px;"> Amount to Withdraw </label>
                        <input id="phone" type="number" name="amount" placeholder="Enter your amount here (KSH)" style="font-family: 'Signika', sans-serif; height: 60%; width: 100%; text-align: center;  font-size: 1.2rem; border-radius: 10px; padding: 15px;" required/>
                       
                    </div>
                    <p style="color: black; font-weight: bold; white-space: nowrap; font-size: .8rem; font-style: italic; "> Minimum KSH 300, Maximum KSH 30,000</p>
                    <div style="width: 100%; height: 30%; margin-block: 10px; height: 25%; display: flex; align-items: center; justify-content: center;" >
                       <button style="width: 100%; height: 80%; font-weight: bold; font-style: italic;
                        font-family: 'Signika', sans-serif; font-size: 1.5rem; color: white; border: none; outline: none; background-color: rgba(0, 0, 255, 0.695); border-radius: 10px;" type="submit">Withdraw</button>
                    </div> 
                    <% if (locals.messages) { %>
                    
                        <h1 style="color: red; font-size: .8rem; font-style: italic; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; "><%= messages %></h1>
                    
                
                        <% } %>    
            </form>
           
             <form action="/withdraw/mpesa" method="post" id='mpesa-form' style="position: absolute; left: -150%; transform: translateX(-50%); transition: all .75s ease-in-out; width: 70%; height: 100%; display: flex; flex-flow: column nowrap; justify-content: flex-start; align-items: center;">
                    <div class="descrip" style="width: 100%; height: 20%; display: grid; place-items: center;" >
                        
                       <img src="/logos/mpesa.png" alt="MPESA" width="120" height="70">

                    </div>
                    <div style="height: 30%; width: 100%; margin-bottom: 10px; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;">
                       <label for="amount" style="font-style: italic; font-weight: bold; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: green; font-size: 1.2rem; margin-bottom: 10px;"> Amount to Withdraw </label>
                       <input id="amount" type="number" name="amount" placeholder="Enter your amount here (KSH)" style="font-family: 'Signika', sans-serif; height: 60%; width: 100%; text-align: center;  font-size: 1.2rem; border-radius: 10px; padding: 15px;" required/>
                    </div>
                    <p style="color: black; font-weight: bold; white-space: nowrap; font-size: .8rem; font-style: italic; "> Minimum KSH 300, Maximum KSH 30,000</p>
                    <div style="width: 100%; height: 30%; margin-block: 10px; height: 25%; display: flex; align-items: center; justify-content: center;" >

                       <button style="width: 100%; height: 80%; font-weight: bold; font-style: italic; font-family: 'Signika', sans-serif; font-size: 1.5rem; color: white; border: none; outline: none; background-color: green; border-radius: 10px;" 
                         type="submit">Withdraw</button>

                    </div> 
                    <% if (locals.messages) { %>
                    
                        <h1 style="color: red; font-size: .8rem; font-style: italic; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; "><%= messages %></h1>
                    
                
                        <% } %>    
            </form>
        
             
               
         </div>
         <div class="img" style="width: 100vw; display: flex; flex-flow: column nowrap; justify-content: center; align-items: center;">
            <img src="logos/plicon.png" alt="XtreamLeague" width="120" height="120">
            <h2 style="margin-top: 20px; font-style: italic; color: purple; font-size: .8rem; font-weight: bold;" >"It is Better To Die with HONOUR than to Live Without"</h2>
            <h2 style="font-style: italic; color: orangered ; font-size: .9rem;">&lt;&lt;Bruce Lee&gt;&gt;</h2>
        
         </div>
        </section> 
       

            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
            
            <script>

              const mpesaBtn = document.querySelector('.mpesa')
              const paypalBtn = document.querySelector('.paypal')
              const paypalForm = document.getElementById('paypal-form')
              const mpesaForm = document.getElementById('mpesa-form')

              mpesaBtn.addEventListener('click', () => {

                mpesaForm.style.left = '50%'
                paypalForm.style.left = '150%'
            

              })

              paypalBtn.addEventListener('click', () => {
                 
                mpesaForm.style.left = '-150%'
                paypalForm.style.left = '50%'
                

              })

            </script>
           
    </body>
    </html>

